
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      {% assign productData = page.metafields.global.book_data %}
      {% assign productAuthor = productData.contributors[0].contributor.name %}
      {% assign bookTitle = productData.title %}
      {% assign description = productData.description %}
      {% assign productImage = productData.image %}
      {% assign contributorBio = productData.contributors[0].contributor.bio %}
      {% assign price = productData.prices[1].amount %}
      {% assign saleDate = productData.sale_date.date | remove: "00:00:00.000000" %}
      {% assign reviews = productData.reviews %}
      {% assign availableRetailers = productData.retailers %}
      {% assign productImage = productData.image | replace: '145', '400' %}
      
     <div class="book-info-container">
       <div class="image-container">
        <img src="{{ productImage }}" alt="book cover"/>
       </div>
       <div class="text-container">
        <h2 class="book-title">{{ bookTitle}}</h2>
        <p class="book-author">By {{ productAuthor }}</p>
        <p class="price">${{ price }}</p>
        <p class="sale-date">Sale date: {{ saleDate }} </p>
       </div>
     </div>
     <section class="description">
      <h4 id="book-description">Book description</h4> 
      <div class="description">
        {{ description }}
      </div>
     </section>
     <section class="contributor-bio">
      <h4>Author biography</h4>
      <p>{{ contributorBio }}</p>
     </section>
    <section class="reviews">
      <h4>Reviews</h4>
      {% for review in reviews %}
        <p class="review">{{ review.review.description }}
          <br><span>{{ review.review.reviewer }}</span> 
        </p>
     
      {% endfor %}
    </section>
     <section class="retailers">
      <h4>Available retailers</h4>
      <ul>
      {% for retailer in availableRetailers %}
        <li class="available-retailer"><a href="{{ retailer.path }}">{{ retailer.label }}</a></li>
      {% endfor %}
    </ul>
     </section>
    </div>
  </div>
</div>

<script>
  const bookDescription = document.getElementById('book-description');
  const bookDescriptionInfo = document.getElementsByClassName('description')[0];

  bookDescription.addEventListener('click', function(){
    bookDescriptionInfo.style.display = 'block';
  })
</script>

