
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      {% assign productData = page.metafields.global.book_data %}
      {% assign productAuthor = productData.contributors[0].contributor.name %}
      {% assign bookTitle = productData.title %}
      {% assign description = productData.description %}
      {% assign productImage = productData.image %}
      {% assign contributorBio = productData.contributors[0].contributor.bio %}
      {% assign price = productData.prices[1].amount %}
      {% assign saleDate = productData.sale_date.date | remove: "00:00:00.000000" %}
      {% assign reviews = productData.reviews %}
      {% assign availableRetailers = productData.retailers %}
      {% assign productImage = productData.image | replace: '145', '400' %}
     <div class="book-info-container">
       <div class="image-container">
        <img src="{{ productImage }}" alt="book cover"/>
       </div>
       <div class="text-container">
        <h2 class="book-title">{{ bookTitle}}</h2>
        <p class="book-author">By {{ productAuthor }}</p>
        <p class="price">${{ price }}</p>
        <p class="sale-date">Sale date: {{ saleDate }} </p>
        <h4>Book description:</h4>
        <p>{{ description }}</p>
        <p>Author bio:{{ contributorBio }}</p>
        
       </div>
     </div>
    <section class="reviews">
      <h4>Reviews</h4>
      {% for review in reviews %}
        <p>{{ review.review.description }}</p>
      {% endfor %}
    </section>
     <section class="retailers">
      <h4>Available retailers</h4>
      {% for retailer in availableRetailers %}
      <p>{{ retailer.label }}</p>
      {% endfor %}
     </section>
    </div>
  </div>
</div>


